@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff8c9;
    min-height: 100vh;
}
.box
{
    position: relative;
    width: 560px;
    height: 630px;
    background: #eec373;
    border-radius: 8px;
}
.box form
{
    position: absolute;
    inset: 4px;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box form h2
{
    color: #1a120b;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox
{
    position: relative;
    width: 400px;
    margin-top: 25px;
}
.box form .inputBox input
{
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: #fff8c9;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #1a120b;
    font-size: 1em;
    letter-spacing: 0.05em;
}

.box form .inputBox p{
    color: red;
    margin-left: 5px;
}

.box form input[type="submit"]
{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff8c9;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    font-weight: 600;
    width: 100px;
    margin-top: 30px;
}
.box form input[type="submit"]:hover{
    background-color: #FFE1AF;
}
.box form input[type="submit"]:active
{
    opacity: 0.4;
}