@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  color: #1a1201;
  background-color: #fff8c9;
}

.navbar {
  background-color: #eec373;
  border: none;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  box-shadow: 0 5px 3px 2px #f3c56f, 0 5px 3px 2px #f3c56f inset;
  position: fixed;
  z-index: 3;
}

.navbar a{
  width: 5%;
}

.logo {
  display: flex;
  align-items: center;
  width: 10%;
  height: 100%;
  background-color: #eec373;
  color: #1a1201;
  gap: 10px;
}

.logo i {
  font-size: 30px;
  background-color: #eec373;
  margin-top: 7px;
}

.logo h3 {
  font-size: 1.5rem;
  background-color: #eec373;
  font-family: "Pacifico", cursive;
  margin-top: 3px;
}

.fav {
  width: 70%;
  height: 100%;
  background-color: #eec373;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fav h3 {
  font-size: 35px;
  font-weight: bolder;
  background-color: #eec373;
  margin-top: 5px;
}

.buttonclass {
  width: 5%;
  height: 60%;
  border-radius: 15px;
  background-color: #fff8c9;
  font-size: 1.1rem;
  font-weight: bolder;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

.buttonclass:hover {
  background-color: #ffe1af;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
}

.genre {
  background-color: #eec373;
  color: #1a1201;
  width: 15%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 7%;
  position: fixed;
}

.genre h3 {
  font-size: 35px;
  font-weight: bolder;
  background-color: #eec373;
  margin-bottom: 7px;
  margin-top: 10px;
}

.opt {
  border-bottom: 2px solid #1a1201;
  width: 100%;
  height: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eec373;
  color: #1a1201;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.opt-last {
  width: 100%;
  height: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 10px;
  background-color: #eec373;
  color: #1a1201;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.genre div:hover {
  background-color: #e5a52d;
}

.book-row {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 100px;
  transform: translate(20%, 0);
}

.shelf {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff8c9;
  margin-left: 15px;
  margin-bottom: 20px;
  overflow: hidden;
}

.shelf-c1 {
  height: 100px;
  width: 100%;
  background-color: #fff8c9;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding-left: 6%;
}

.shelf-c1 img {
  /* margin-left: 75px; */
}

.shelf-c2 {
  width: 100%;
  height: 20px;
  background-color: #eec373;
  box-shadow: 0 10px 5px -5px #ebcf99, 0 -10px 5px -5px #a78955;
  border-radius: 10px;
}

.book{
  position: relative;
  width: 16%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.book img{
  position: absolute;
  bottom: 0;
}

.fa-regular{
  /* position: absolute; */
  color: red;
  /* top: 2px;
  right: 105px; */
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  visibility: hidden;
}

.show{
  visibility:visible;
}

a{
  width: 100%;
  height: 100%;
  background-color: transparent;
  text-decoration: none;
}

.book a{
  width: 37%;
  height: 100%;
  background-color: transparent;
  text-decoration: none;
}

.book form {
  width: 50%;
}

.book form button{
  border: none;
  outline: none;
}

/** #ebcf99 #b69a65 **/
